# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Frontend
node_modules/
frontend/node_modules/

dist/
frontend/dist/

dist-ssr
*.local

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# ML Models
*.h5
*.keras
*.joblib
*.pkl

# Database
*.db
*.sqlite
*.sqlite3

# Jupyter
.ipynb_checkpoints/

# Editor files
.vscode/*
!.vscode/extensions.json

.idea

.DS_Store

*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?